.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photo-boxes {
  background-color: lightgray; /* Fondo azul solo para las fotos */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box {
  margin-top: 10px;
  width: 500px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.header h2 {
  margin: 0;
}

.date {
  margin: 0;
  color: #666;
  font-weight: bold;
}

.box img {
  width: 100%;
  height: auto;
  display: block;
}

.description {
  margin: 10px 0 0 0;
  padding: 10px;
}
